/* main */
.main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

/* button */
.button {
  background-color: #fbfbfb;
  border: none;
  color: #000000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button.animate {
  animation-name: color-change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color-change {
  0% {
    background-color: #FEDBD0;
  }

  50% {
    background-color: #4893c8;
  }

  100% {
    background-color: #FEDBD0;
  }
}

.primary {
  border: 2px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.primary:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.danger {
  background: transparent;
  border: 1px solid #ff0000;
  outline: none;
  transition: 1s ease-in-out;
  position: relative;
  display: inline-block;
  background-color: #e82323;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset 0 0 0 0 #ff1515;
  transition: ease-out 0.4s;
}

.danger:hover {
  box-shadow: inset 200px 0 0 0 #ff0000;
}

.danger:hover::before {
  animation: shine 2s forwards;
}

.danger::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
}

@keyframes shine {
  from {
    left: -50%;
  }

  to {
    left: 200%;
  }
}


.warning {
  background-color: #f5a623;
  color: #fff;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 0 rgba(245, 166, 35, 0.4);
  transition: all 0.3s ease-in-out;
}

.warning:hover {
  box-shadow: 0 0 20px rgba(245, 166, 35, 0.8);
  transform: scale(1.1);
}

.dashed {
  background-color: transparent;
  border: 2px dashed #000;
  color: #000;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.dashed {
  background-color: transparent;
  border: 2px dashed #000;
  color: #000;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.dashed:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.dashed:hover:before {
  left: 0;
}

.dashed:hover {
  color: #fff;
}

.dashed:active:before {
  left: 100%;
}